









/* .footer{
     display:flex;
     flex-direction:column;
     
}

.footerTwo{
    display:flex;
    flex-direction: row;
    gap: 50px;
}

.logo{
    width: 200px;
}

.footerOverview{
    font-size:120px;
    color:#1b0072;
}

.footerOverview h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.footerOverview p{
    font-size: 13px;
    margin-bottom: 5px;
}
.logo p{
    width:150px;
    font-size:10px;
    margin-top:5px;
    line-height: 1.5;
} */
